body{
background-color:rgba(0, 0, 0, 0.589);
padding: 0px;
margin: 0px;
border:0px;
}
.head{
    color: white;
    text-align: center;
    line-height: 5px;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 2px;
}
.head p{
    line-height:140%;
}
.container{
    display: grid;
    justify-content: center;
    margin: 0px auto 0px auto;
    width: 93%;
}
input{
    background-color: rgba(0, 0, 0, 0.695);
    margin-top:5px;
    height:20px;
    color:white;
    outline:0px;
     border-radius:5px;
}
.ins{
    width:100%;
    height:20px;
    margin-bottom: 10px;
    display: flex;
}
.ins input{
    width: calc(100% / 5 );
}
.ins .to{
    background-color:red;
    margin-top:6px;
    height:20px;
}
.container button{
    background-color: rgb(64, 5, 152);
    border:0px;
    border-radius:50px;
    height:25px;
}
input::placeholder{
color:white;
font-size:90%;
position: absolute;
z-index:100000;;
}
.ta{
    display:flex;
    justify-content: center;
}
table{
    display: grid;
    justify-content: center;
    margin-top:50px;
}
td{
       border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: black;
    width: 53px;
    text-align: center;
}
.coninputs{
    display: flex;
    justify-content: center;
    width: 100%;
}
.inputs{
display:grid;
width: 71%;
}
.search{
    width: 100%;
    height: 25px;
}
.input{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
.input button{
    width: 40%;
    border-radius:5px ;}
    .input button ,
    .button{ 
    height:32px;
    background-color: rgb(64, 5, 152);
    color: aliceblue;
    outline: 0px;
    padding: 0px;
    border: 0px;
}
.button{
    width:100%;
    border-radius: 10px;
    font-size:15px;
}